/* common.css */
/* 개별파일별 디자인 금지! */
body {background-color: rgba(0,0,0,0.15);}
#wrap {
    width:393px;
    height:95vh; min-height: 852px; /* min>최소 높이 / 852px 이상 높이가 나올 경우 95vh로 고정 */
    background-color: #fff;
    margin: 5px auto;
    padding: 64px 15px 0;
}
#wrap header {
    overflow:hidden;
}
#wrap header h1 {
    float: left;
}
#wrap header h1 a {
    font-size:1.5rem; /* 25px */
    font-weight: 600;
}
#wrap header nav {
    float:right;
}
#wrap header nav a {
}
#wrap header nav a img {}
#wrap header nav .search {
    margin-right: 8px;
}
#wrap header nav .search img {}
#wrap header nav .all_menu {}
#wrap header nav .all_menu img {}
#wrap .tab_menu {
    border-bottom: 1px solid #ddd;
    margin: 10px 0;
}
#wrap .tab_menu a {
    color: #555;
    line-height: 40px; font-size: 1.13rem;/* 18px */
}
#wrap .tab_menu .active {
    font-weight: 700;
    color:#000;
}
#wrap .tab_menu .all {margin-right: 8px;}
#wrap .tab_menu .today {}
#wrap .tab_contents {}
#wrap .tab_contents .contents {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
#wrap .tab_contents .contents:hover{border-color: #000;} /* contents에 마우스 올렸을 때 contents 변경 */
#wrap .tab_contents .contents:hover a{color: rgb(0, 145, 145);} /* contents에 마우스 올렸을 때 a 변경 */
#wrap .tab_contents .contents a:hover{} /* a에 마우스 올렸을 때 a 변경 */
    
#wrap .tab_contents .contents a {
    float:left;
    display: inline-block;
    line-height: 46px;
}
#wrap .tab_contents .contents .date {
    width:72px;
    text-align: center;
}
#wrap .tab_contents .contents .date+a {
    width:calc(100% - 72px);
}
#wrap .tab_contents .contents1 {}
#wrap .tab_contents .contents2 {}
#wrap .tab_contents .contents3 {}
#wrap #write_fab {
    position:fixed;
    /* position:absolute; */
    right:50px; bottom:50px;
}

#wrap #write_fab:hover img {filter:brightness(2) grayscale(50%);}
#wrap #write_fab img {}