/* 할일 작성 write.css */
#wrap {position:relative;}
#wrap #write_form {
    position:absolute; top:228px; left:20px;
    /* absolute 설정 시 주의사항 및 작업 순서 */
    /* 1. 부모position 추가설정 2. 너비 재설정 */
    background-color: rgba(255,255,255,0.8);
    border:1px solid #d9d9d9;
    border-radius: 20px;
    width:calc(100% - 40px);
    padding:20px;
    /* 자식 write_wrap의 세로값을 부모는 자동으로 따라감=300px */
}
#wrap #write_form #write_wrap {
    height:300px;
}
#wrap #write_form #write_contents {
    border:0;
    width:100%; height: calc(100% - 24px);
    background: none;
}
#wrap #write_form #confirm_btn {
    width:100%;
    text-align: right;
}
#wrap #write_form #confirm_btn img {}
#wrap #write_fab {}
#wrap #write_fab img {}